body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  color: #51626a;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  /* letter-spacing: -0.25px; */
  line-height: 1.5rem;
}
.wrapper {
  margin: 0;
  padding: 0;
  border-top: 8px solid #45ff00;
  background-color: #f7fafc;
}
.container {
  box-sizing: border-box;
  max-width: 100%;
  width: 768px;
  margin: auto;
  padding: 1rem;
}
a {
  color: #b2009e;
  text-decoration: none;
}
a:hover {
  color: #ff00e2;
}
/* 
=======
Header
======= 
*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}
.header ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.header__menu li {
  padding: 10px;
}
.header__menu li a {
  color: #333333;
  text-decoration: none;
}
.header__menu li a:hover {
  color: #ff00e2;
}
.header__social li {
  padding: 10px;
}
.header__social li a {
  color: #333333;
}
.header__social li a:hover {
  color: #ff00e2;
}
.header ul li {
  display: inline-block;
}

/* 
=======
Footer
======= 
*/
.footer {
  text-align: center;
}

/* 
=======
Media Queries
======= 
*/
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    line-height: 1.4rem;
  }
  .container {
    padding: 0.5rem;
  }
  .header {
    padding: 0 0 1.5rem;
  }
  .header__menu li,
  .header__social li {
    padding: 5px;
    font-size: 0.85rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 350px) {
  .header__menu li,
  .header__social li {
    padding: 5px 3px;
  }
}
