.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
.intro img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  margin-right: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02), 0 5px 22px -8px rgba(0, 0, 0, 0.1);
}
.intro p {
  margin-top: 0;
}
.project {
  margin-bottom: 1rem;
  border-bottom: 1px solid #afef8c;
  display: flex;
  justify-content: space-between;
}
.project:last-of-type {
  margin-bottom: 4rem;
}
.project h3 {
  margin: 0;
}
.project p {
  margin-top: 0;
}
.project p small {
  color: #6b7c84;
}
.project__text .project__extra::after {
  content: ", ";
}
.project__text .project__extra:last-of-type::after {
  content: "";
}
.project__image {
  margin-bottom: 30px;
}
.project__image a img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02), 0 5px 22px -8px rgba(0, 0, 0, 0.1);
  transition: all 0.8s ease;
}
.project__image a:hover img {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.03), 0 8px 26px -4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: scale(1.03) translateY(-2%);
}
/* 
=======
Media Queries
======= 
*/
@media only screen and (max-width: 600px) {
  .intro {
    margin-bottom: 1rem;
  }
  .intro img {
    max-width: 80px;
    margin-right: 0.75rem;
  }
  .project h3 {
    margin-top: 0;
  }
}
