---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Social from "../components/Social.astro";

const linkedInSlug = `linkedin\in`;
---

<Layout title="Welcome to Astro.">
    <main>
        <section class="mb-10 leading-normal">
            <h2 class="text-base font-semibold mb-4">About</h2>
            <p class="mb-4">
                Hello! I'm a skilled Frontend Engineer from Petaluma,
                California, with 15+ years in the web industry. I
                specialize in crafting seamless user experiences for
                enterprise and eCommerce websites. Recently while
                working in fintech, I built a frontend for innovative
                bank statement analysis web app.
            </p>
            <p class="mb-4">
                I excel at turning design visions into functional
                applications using JavaScript, React, REST/GraphQL
                APIs, MySQL, HTML, and CSS/SCSS. I'm also diving into
                Next.js.
            </p>
            <p class="mb-4">
                Currently, I'm open to part-time or contract frontend
                opportunities, ready to bring my expertise to your
                projects.
            </p>
        </section>
        <section class="mb-10">
            <h2 class="text-base font-semibold mb-6">Projects</h2>
            <ul role="list" class="link-card-grid">
                <Card
                    href="https://github.com/irinakramer"
                    title="Bank Statement Analyzer"
                    body="Full stack app to analyze bank transactions and calculate ratios for loan eligibility"
                />
                <Card
                    href="https://bouquet-wine-tasting.herokuapp.com/"
                    title="Bouquet Wine Tasting"
                    body="Guide to help identify aromas and scents present in most wine families."
                />
                <Card
                    href="http://joby.com/us-en/"
                    title="JOBY.com eCommerce site"
                    body="Responsive templates for product, category, shopping cart pages, tech specs feed, and marketing landing pages."
                />
                <Card
                    href='https://www.lowepro.com/us-en/loweprofessionals/"'
                    title="Brand Ambassadors"
                    body="Landing pages built from PSD mockups to functional templates consisting of components."
                />
            </ul>
        </section>
        <section class="mb-10">
            <h2 class="text-base font-semibold mb-4">Connect</h2>
            <ul>
                <li>
                    <Social
                        platform="linkedin"
                        username="in/irinakramer"
                    />
                </li>
                <li>
                    <Social
                        platform="github"
                        username="irinakramer"
                    />
                </li>
                <li>
                    <Social
                        platform="twitter"
                        username="irinakramer"
                    />
                </li>
                <li>
                    <Social
                        platform="instagram"
                        username="irinakramer_"
                    />
                </li>
            </ul>
        </section>
    </main>
</Layout>

<style>
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
