---
const currentYear = new Date().getFullYear();
---

<footer class="text-sm text-slate-500 mb-8">
    <div>
        Built with Astro & Tailwind, deployed with Netlify, {
            currentYear
        }.
    </div>
</footer>
