---
import Social from "./Social.astro";
import Spiral from "./icons/Spiral.astro";
import IK from "./icons/IK.astro";
---

<header>
    <div
        class="flex flew-row justify-between items-center px-8 py-2 w-full mx-auto bg-neutral-100 border-b border-neutral-200 md:px-12 lg:px-32 max-w-7xl"
    >
        <div>
            <a
                class="inline-flex items-center gap-3"
                href="/"
                title="Irina Kramer"
            >
                <span><IK /></span>
                <span
                    class="text-xl font-bold tracking-tight text-neutral-900 hover:text-neutral-500 transition-colors"
                    >Irina Kramer</span
                >
            </a>
        </div>
        <div>
            <div class="flex flex-row">
                <Social
                    platform="linkedin"
                    username="in/irinakramer"
                />
                <Social platform="github" username="irinakramer" />
            </div>
        </div>
    </div>
</header>
<!-- <header class="bg-white">
    <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
        aria-label="Global"
    >
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Irina Kramer</span>
                <span><IK /></span>
            </a>
        </div>
        <div class="flex lg:hidden">
            <button
                type="button"
                class="hamburger -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="size-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                    ></path>
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a
                href="#portfolio"
                class="text-sm/6 font-semibold text-gray-900"
                >Portfolio</a
            >
            <a
                href="#services"
                class="text-sm/6 font-semibold text-gray-900"
                >Services</a
            >
            <a
                href="#about"
                class="text-sm/6 font-semibold text-gray-900">About</a
            >
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="#" class="text-sm/6 font-semibold text-gray-900"
                >Contact <span aria-hidden="true">&rarr;</span></a
            >
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
<div class="lg:hidden nav-links" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
        class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
        <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Irina Kramer</span>
                <IK />
            </a>
            <button
                type="button"
                class="close-btn -m-2.5 rounded-md p-2.5 text-gray-700"
            >
                <span class="sr-only">Close menu</span>
                <svg
                    class="size-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                    <a
                        href="#portfolio"
                        class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
                        >Portfolio</a
                    >
                    <a
                        href="#services"
                        class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
                        >Services</a
                    >
                    <a
                        href="#about"
                        class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
                        >About</a
                    >
                </div>
                <div class="py-6">
                    <a
                        href="#"
                        class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
                        >Contact</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
