---
import { Image } from "astro:assets";
import profilePhoto from "../images/profilePhoto.jpg";
---

<header>
    <div class="max-w-md flex flex-row justify-between">
        <div>
            <h1>Irina Kramer</h1>
            <p>Frontend Engineer</p>
        </div>
        <div>
            <Image
                class="w-16 sm:w-20 rounded-lg"
                src={profilePhoto}
                alt="Irina Kramer profile photo"
            />
        </div>
    </div>
</header>
