---
import Social from "./Social.astro";
import Spiral from "./icons/Spiral.astro";
---

<header>
    <div
        class="flex flew-row justify-between items-center px-8 py-2 w-full mx-auto bg-gray-100 md:px-12 lg:px-32 max-w-7xl"
    >
        <div>
            <a
                class="inline-flex items-center gap-3 text-xl font-bold tracking-tight text-black"
                href="/"
            >
                <span><Spiral /></span>
                <span>Irina Kramer</span>
            </a>
        </div>
        <div>
            <div class="flex flex-row">
                <Social
                    platform="linkedin"
                    username="in/irinakramer"
                />
                <Social platform="github" username="irinakramer" />
            </div>
        </div>
    </div>
</header>
