---
import Social from "./Social.astro";
import { Image } from "astro:assets";
import profilePhoto from "../images/profilePhoto.jpg";
---

<header>
    <div
        class="max-w-lg flex flex-row justify-between text-lg mb-4 sm:mb-10"
    >
        <div class="flex flex-row">
            <div class="mr-4 w-12 sm:w-16">
                <Image
                    class="rounded-md"
                    src={profilePhoto}
                    alt="Irina Kramer profile photo"
                />
            </div>

            <div>
                <h1 class="font-semibold leading-tight">
                    Irina Kramer
                </h1>
                <p class="text-slate-400 font-normal">
                    Frontend Developer
                </p>
            </div>
        </div>

        <div class="flex">
            <Social platform="linkedin" username="in/irinakramer" />
            <Social platform="github" username="irinakramer" />
            <Social platform="twitter" username="irinakramer" />
            <Social platform="instagram" username="irinakramer_" />
        </div>
    </div>
</header>
