---
import { Icon } from "astro-icon";
---

<menu>
    <ul class="mb-8">
        <li>
            <a
            href="/"
            target="_blank"
            ><Icon class="w-6 text-slate-500" name="ic:baseline-home" /></a
            >
        </li>
    </ul>
</menu>
