---
import { Icon } from "astro-icon";
---

<menu>
    <ul>
        <li>
            <a
            href="/"
            target="_blank"
            ><Icon class="w-5" name="ic:baseline-home" /></a
            >
        </li>
    </ul>
</menu>
